@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #4569f7;
  --primary-hover: #3b56d3;
  --black: #2a2a2a;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-general-sans), sans-serif;
}

@layer utilities {
  .responsivePad {
    @apply px-4 sm:px-6 lg:px-12 xl:px-24 2xl:px-40;
  }

  /* Headings */
  .h1 {
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold;
  }
  .h2 {
    @apply text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-semibold;
  }
  .h3 {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
  }
  .h4 {
    @apply text-xl md:text-2xl lg:text-3xl;
  }
  .h5 {
    @apply text-lg md:text-xl lg:text-2xl;
  }
  .h6 {
    @apply text-base md:text-lg;
  }
  .p {
    @apply text-base leading-relaxed md:text-lg;
  }
}
